{% extends 'base.html' %}

<!--Head-->

{% block head %} {% endblock %}

<!--Body-->

{% block body %}

<div class="content">
    <h2>Update Task</h2>
    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <input
                type="text"
                name="content"
                id="content"
                value="edit: {{task.content}}"
                style="
                    border: 2px solid white;
                    border-radius: 0;
                    padding: 10px;
                    color: white;
                    background: rgb(43, 43, 43);
                    cursor: pointer;
                "
            />
            <input
                type="submit"
                value="Update Task"
                style="
                    border: 2px solid white;
                    border-radius: 0;
                    padding: 10px;
                    color: white;
                    background: none;
                    cursor: pointer;
                "
            />
        </form>
    </div>
</div>

{% endblock %}
